# Missing no:color in upstream
# -e git+https://github.com/ant31/pytest-sugar.git#egg=pytest-sugar

# Missing: --add-data in pypi
# -e git+https://github.com/pyinstaller/pyinstaller.git#egg=pyinstaller

bumpversion
coverage
flake8
gunicorn
pep8

pylint
pytest
pytest-cov
pytest-flask
pytest-ordering
python-etcd
requests-mock
sphinxcontrib-napoleon
tox
yapf
