# Missing no:color in upstream
# -e git+https://github.com/ant31/pytest-sugar.git#egg=pytest-sugar

# Missing: --add-data in pypi
# -e git+https://github.com/ant31/pyinstaller.git#egg=pyinstaller

bumpversion
coverage
flake8
gunicorn
pep8

pylint
pytest
pytest-cov
pytest-flask
pytest-ordering
python-etcd
requests-mock
sphinxcontrib-napoleon
tox
yapf

redis
python-etcd
semantic_version
flask
Flask>=0.10.1
flask-cors
gunicorn>=19.7
gevent
urllib3
tabulate
termcolor
pyyaml
pathspec
jsonpatch
